<div id="header">
  <div id="import_and_update">
    <%= link_to("Import and Update", import_and_update_books_path, :method => 'get', :remote => true) %>
  </div>

  <%= form_tag(books_url, { :method => :get, :id => 'search_form' }) do %>
    <%= text_field_tag 'search', params[:search] %>
    <%= select_tag 'sort', options_for_select([['Published', 'published_on'], ['Added', 'created_at'], ['Pages', 'pages'], ['Opens', 'opens']], params[:sort]) %>
    <%= select_tag 'sort_direction', options_for_select([['Descending', 'DESC'], ['Ascending', 'ASC']], params[:sort_direction]) %>
  <% end %>
</div>

<div class="clear"></div>
<ul id="books">
  <% @books.each do |b| %>
    <%= render :partial => 'book', :locals => { :book => b } %>
  <% end %>
  <% if is_last_page?(@books) %>
    <%= render :partial => 'end_of_results' %>
  <% end %>
</ul>
<div class="clear"></div>