<% content_for :head do %>
  <%= javascript_include_tag 'index', 'endless_scroll' %>
<% end %>

<div id="wrapper">
  <div id="tag_cloud" style="display: none;">
    <% tag_cloud(@tags, %w(size_1 size_2 size_3 size_4)) do |tag, css_class| %>
      <%= link_to tag.name, items_path(params.except(:controller, :action).merge(:search => tag.name)), :class => css_class, :title => pluralize(tag.count, "Occurence") %>
    <% end %>
  </div>
  
  <div id="header">
    <div id="actions" class="desktop-only">
      <%= link_to(image_tag("icons/add.png") + "Import and Update", import_and_update_items_path, :method => 'get', :remote => true) %>
      <%= link_to(image_tag("icons/information.png") + "Info", info_items_path, :class => 'colorbox') %>
      <%= link_to("Tag cloud", {}, :id => 'tag_cloud_link') %>
      <%= link_to("Bulk Export", bulk_export_items_path(params.except(:action)), :method => 'get', :remote => true) %>
      <!--<%= link_to("Change Collection", collections_path(:from_items => 'true'), :class => 'colorbox') %>-->
    </div>
  
    <%= form_tag(items_url, { :method => :get, :id => 'search_form' }) do %>
      <%= text_field_tag 'search', params[:search] %>
      <%= selector("sort", ItemsController::SORT_OPTIONS) %>
      <%= selector("sort_direction", [['Descending', 'DESC'], ['Ascending', 'ASC'], ['Random', 'RAND']]) %>
      <%= link_to("Clear search", items_path) %>
    <% end %>
  </div>
  
  <div class="clear"></div>
  <% if @items.empty? || is_last_page?(@items) %>
    <script type="text/javascript">
      last_page = true;
    </script>
  <% end %>
  <ul id="items">
    <% @items.each do |b| %>
      <%= render :partial => 'item', :locals => { :item => b } %>
    <% end %>
    <% if @items.empty? %>
      <li class='no_results'>No results found.</li>
    <% elsif is_last_page?(@items) %>
      <%= render :partial => 'end_of_results' %>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
