= content_for :head do
  = javascript_include_tag 'index', 'endless_scroll'

#wrapper
  #tag_cloud{ style: "display: none" }
    - tag_cloud(@tags, %w(size_1 size_2 size_3 size_4)) do |tag, css_class|
      = link_to tag.name, items_path(params.except(:controller, :action).merge(search: tag.name)), class: css_class, title: pluralize(tag.count, "Occurence")

  #header
    #actions.desktop-only
      = link_to(image_tag("icons/add.png") + "Import and Update", import_and_update_items_path, method: 'get', remote: true)
      = link_to(image_tag("icons/table_edit.png") + "Preferences", preferences_path)
      = link_to(image_tag("icons/information.png") + "Info", info_items_path, data: { featherlight: 'ajax' })
      = link_to("Tag cloud", {}, id: 'tag_cloud_link')
      = link_to("Bulk Export", bulk_export_items_path(params.except(:action)), method: 'get', remote: true)

    = render partial: 'search_form'

  .clear
  %ul#items= render partial: 'items'
  .clear
