<% prec_opts = { :precision => 1, :delimiter => ',', :strip_insignificant_zeros => true } %>

<p>You have <%= pluralize(number_with_delimiter(Book.count), 'book') %>, <%= pluralize(number_with_delimiter(Video.count), 'video') %>, and <%= pluralize(number_with_delimiter(ActsAsTaggableOn::Tag.count), 'tag') %>.</p>

<% unless Book.count.zero? %>
  <p>The oldest book was published on <%= link_to(@oldest_book.published_on, @oldest_book, :target => "_blank") %>
  and the newest book was published <%= link_to(@newest_book.published_on, @newest_book, :target => "_blank") %>.</p>

  <p>The longest book has <%= link_to(pluralize(number_with_delimiter(@longest_book.page_count), 'page'), @longest_book, :target => "_blank") %> and the
  shortest has <%= link_to(pluralize(number_with_delimiter(@shortest_book.page_count), 'page'), @shortest_book, :target => "_blank") %>.</p>
  <p>Together, your books have <%= pluralize(number_with_precision(Book.sum('page_count'), prec_opts), 'page') %>. The average number of pages is <%= number_with_precision(Book.average('page_count'), prec_opts) %>, and the most common page count for a book is <%= number_with_precision(Book.average('page_count'), prec_opts) %>.</p>

  <p>The most popular book in your collection has been opened
  <%= link_to(pluralize(number_with_delimiter(@most_popular_book.opens), 'time'), @most_popular_book, :target => "_blank") %>,
  and the least popular opened <%= link_to(pluralize(number_with_delimiter(@least_popular_book.opens), 'time'), @least_popular_book, :target => "_blank") %>,
  with an average of <%= pluralize(number_with_precision(Book.average('opens'), prec_opts), 'open') %> per book.</p>

  <p><%= link_to(pluralize(number_with_delimiter(Book.count(:conditions => 'opens > 0')), 'book has', 'books have'), items_with(:search => 's:read'), :target => "_blank") %>
    been opened at least once, and <%= link_to(pluralize(number_with_delimiter(Book.count(:conditions => 'opens = 0')), 'book has', 'books have'), items_with(:search => 's:unread'), :target => '_blank') %>
  never been opened at all.</p>
<% end %>

<% unless Video.count.zero? %>
  <p>The oldest video was published on <%= link_to(@oldest_video.published_on, @oldest_video, :target => "_blank") %>
  and the newest video was published <%= link_to(@newest_video.published_on, @newest_video, :target => "_blank") %>.</p>

  <p>The most popular video in your collection has been opened
  <%= link_to(pluralize(number_with_delimiter(@most_popular_video.opens), 'time'), @most_popular_video, :target => "_blank") %>,
  and the least popular opened <%= link_to(pluralize(number_with_delimiter(@least_popular_video.opens), 'time'), @least_popular_video, :target => "_blank") %>,
  with an average of <%= pluralize(number_with_precision(Video.average('opens'), prec_opts), 'open') %> per video.</p>

  <p><%= link_to(pluralize(number_with_delimiter(Video.count(:conditions => 'opens > 0')), 'video has', 'videos have'), items_with(:search => 's:read'), :target => "_blank") %>
  been opened at least once, and <%= link_to(pluralize(number_with_delimiter(Video.count(:conditions => 'opens = 0')), 'video has', 'videos have'), items_with(:search => 's:unread'), :target => '_blank') %>
  never been opened at all.</p>
<% end %>

<!-- add most and least popular tags -->
